body {
  margin: 0;
  padding: 0;
  background-color: #0f0f12;
  color: #fff;
}

.app {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}

@media (max-width: 768px) {
  .app {
    overflow-x: hidden;
    max-width: 100vw;
  }
}